<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <div>
      NHC Music Showdown:
      <a href="{{ url_for('index') }}">Home</a>
      {% if current_user.is_anonymous %}
        / <a href="{{ url_for('login') }}">Login</a>
      {% else %}
        / <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}

    <script>
    // https://www.w3schools.com/howto/howto_js_countdown.asp
    // with modification

    function countDown(slug, countDownDate) {

      // Get today's date and time
      var now = new Date().getTime();
        
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
        
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
      // Output the result in an element with id="demo"
      document.getElementById(slug).innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s remaining";
        
      // If the count down is over, write some text 
      if (distance < 0) {
        //clearInterval(x);
        document.getElementById(slug).innerHTML = 'Round over. <a href="javascript:window.location.reload(true)">Refresh the page</a> to see results.';
      }
    }

    function setCountDown(slug, countDownDate) {
      // Set the date we're counting down to
      var countDownDate = new Date(countDownDate).getTime();

      // Call once on load
      countDown(slug, countDownDate);

      // Update the count down every 1 second
      var x = setInterval(countDown, 1000, slug, countDownDate);
    }
    </script>

    <br>
    Ongoing rounds:
    <ul>
      {% for round in active_rounds %}
        <li>
          {{ round.name }}: <b><div id="{{ round.slug }}" style="display: inline"></div></b>

          [<a href="{{ url_for('vote', event_slug=round.event_slug, round_slug=round.round_slug) }}">submit votes</a> / <a href="{{ url_for('results', event_slug=round.event_slug, round_slug=round.round_slug) }}">see results</a>]

          {% if current_user.is_authenticated %}
            {% if round.did_you_finish %}
              <div style="display: inline; color: green">[You finished voting.]</div>
            {% elif round.did_you_start %}
              <div style="display: inline; color: orange">[Your votes are half-finished.]</div>
            {% else %}
              <div style="display: inline; color: red">[You didn't vote yet. SMH.]</div>
            {% endif %}
          {% else %}
            <div style="display: inline; color: gray">[<a href="{{ url_for('login') }}">Log in</a> to check if you voted.]</div>
          {% endif %}

          <script>setCountDown("{{ round.slug }}", "{{ round.end_time }}")</script>
        </li>
      {% endfor %}
    </ul>
    <br>

    <hr>

    <h1>{{ title }}</h1>

    {% block content %}{% endblock %}
  </body>
</html>