{% import "bootstrap_wtf.html" as wtf %}

{% extends "base.html" %}

{% block content %}

  <p>
    Submit (and re-submit) picks anytime until the deadline. 
    If you edit a pick, it must be re-approved.
  </p>

  <details>
    <summary>All users' picks so far (click to expand):</summary>

    <ul>
    {% for user in all_pick_statuses %}
      <li>
        {{ user }}:
        {% for pick in all_pick_statuses[user] %}
          {% if all_pick_statuses[user][pick] == "APPROVED" %}
          <span class="badge badge-pill bg-success badge-success">Approved</span>
          {% elif all_pick_statuses[user][pick] == "REJECTED" %}
          <span class="badge badge-pill bg-danger badge-danger">Rejected</span>
          {% elif all_pick_statuses[user][pick] == "PENDING" %}
          <span class="badge badge-pill bg-warning badge-warning">Pending</span>
          {% endif %}
        {% endfor %}
      </li>
    {% endfor %}
    </ul>
  </details>

  <br><br>

  {% set at_least_one_approved = namespace(at_least_one_approved=false) %}

  Your picks:
  <ul>
  {% for pick in pick_status %}
    <li>
      {% if pick_status[pick] == "APPROVED" %}
        <span class="badge badge-pill bg-success badge-success">Pick {{ pick }} is approved.</span>
        {% set at_least_one_approved.at_least_one_approved = true %}
      {% elif pick_status[pick] == "REJECTED" %}
        <span class="badge badge-pill bg-danger badge-danger">Pick {{ pick }} is rejected.</span>
      {% elif pick_status[pick] == "PENDING" %}
        <span class="badge badge-pill bg-warning badge-warning">Pick {{ pick }} is pending.</span>
      {% elif pick_status[pick] == "BLANK" %}
        <span class="badge badge-pill bg-secondary badge-secondary">Pick {{ pick }} is blank.</span>
      {% endif %}
      {% if pick_messages[pick] != "" %}
        [Message from admin: {{ pick_messages[pick] }}]
      {% endif %}
    </li>
  {% endfor %}
  </ul>

  {% if at_least_one_approved.at_least_one_approved == true %}
    {{ wtf.quick_form(form, onsubmit="return confirm('Are you sure? If you edited an approved pick, it must be re-approved.')") }}
  {% else %}
    {{ wtf.quick_form(form) }}
  {% endif %}

{% endblock %}