{% import "bootstrap_wtf.html" as wtf %}

{% extends "base.html" %}

{% block content %}

  {% if round_over %}
    <p>You can cast tiebreaking votes in the matches below. Be careful–as soon as you submit, the round instantly ends and you cannot edit your tiebreak votes.</p>
  {% elif did_you_finish %}
    <p>Your votes are submitted and counted, but you can still edit your votes until the deadline.</p>
  {% elif did_you_start %}
    <p>You started voting, but did not finish. Your votes won't count until you vote in every match.</p>
  {% else %}
    <p>You have not started voting yet.</p>
  {% endif %}

  

  {% if round_over %}
  <div class="col-md-6">
    {{ wtf.quick_form(form, onsubmit="return confirm('Are you sure? This will immediately end the round, and you cannot edit your tiebreak votes.')") }}
  </div>
  {% else %}
    {{ wtf.quick_form(form) }}
  {% endif %}

  <br><br><br>
  <details>
    <summary>Danger zone: Delete my votes for this round (click to expand)</summary>

    <form action="./delete-votes/" method="POST" onsubmit="return confirm('Are you sure? Once I delete your votes, I can never get them back.')">
      <button class="btn btn-danger" name="delete-votes">Delete my votes</button>
    </form>
  </details>
  <br><br>

{% endblock %}